<!Doctype html>
<html>
   <head>
       <meta charset="utf-8">
           <title> Newton Robert | Freelance Web Developer</title>
           <%= stylesheet_link_tag "normalize.css" %>
           <%= stylesheet_link_tag "bootstrap_and_customizaton.css.scss.erb"%>
           <%= stylesheet_link_tag "main.css"%>
           <link href='https://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>
           <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
           <link rel="stylesheet" href="css/normalize.css" >
           <link rel="stylesheet" href="css/main.css" >
           <link rel="stylesheet" href="css/bootstrap_and_customizaton.css.scss" >
        </head>
        <body>
            <header>
<<<<<<< HEAD
                <title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">


<div class="ironsection">
<i class="glyphicon glyphicon-home w3-spin w3-jumbo"></i>
</div>

<div class="w3-padding w3-xlarge w3-teal">
<i class="glyphicon glyphicon-home"></i>
<i class="glyphicon glyphicon-search"></i>
<i class="glyphicon glyphicon-cloud"></i>
<i class="glyphicon glyphicon-trash"></i>
Welcome!
</div>

</body>
</html> 

              <a href="home.html"  style="text-decoration:none;" id="logo"</a> 
=======
                <a href="home.html" id="logo">
>>>>>>> 62b369d5ded6a2e1a1d4c5a09d45aa3ce88625d3
                    <h1>Newton Robert</h1>
                    <h2> Web Designer</h2>
                    </a>
                    <nav>
                        <ul >
                            <li><a href= "pages/home "class="selected">home</a></li>
                            <li><a href= "portfolio.html "class="selected">portfolio</a></li>
                            <li><a href= "about.html " class="selected">about</a></li>
                            <li><a href= "contact.html " class="selected">contact</a></li>
                            
                        </ul>
                    </nav>
                     </header>
                     <div id ="wrapper">
                     <section>
                          <div id="profile-photo">
                         <%= image_tag("martaguyz.jpg",id:"profile-photo")=%>
                         </div>
                         
                                              <h3>About</h3>
                     <p>"Newton is a software engineer graduate from the nairobi developments school.Fpunded by Martha Chelimo one of the youngest and brigtest tech minds from Nairobi kenya .when he is not coding he enjoys outdoor activities  when he is not coding he preffers to kill and make money"</p>
                     <p>"if you would like to follow me my twitter username is <a href="https://twitter.com/xpaterr">@xpaterr</a></p>
         
                          
                                                  </section>
                         <footer>
                            <a href="https://ke.linkedin.com/in/newton-robert-a4a7b184"><img src="assets/furrylinkedin.png" alt="follow on Linkedin"class="social-icon"></a>
                               
                           <a href="https://twitter.com/xpaterr"class="social-icon"><img src="assets/furrytwitter.png" alt="follow on twitter"class="social-icon"></a>
                               
                        <a href="https://www.facebook.com/spartanewtonrobert
"><img src="assets/furryfb.png" alt="friend on facebook"class="social-icon"></a>
                             
                             <p>&copy; 2016 Newton Robert</p>
                             </footer>
                             </div>
                             </body>
                            </html>






