<!Doctype html>
<html>
   <head>
       <meta charset="utf-8">
           <title> Newton Robert | Freelance Web Developer</title>
           <%= stylesheet_link_tag "normalize.css" %>
           <%= stylesheet_link_tag "bootstrap_and_customizaton.css.scss.erb"%>
           <%= stylesheet_link_tag "main.css"%>
           <link href='https://fonts.googleapis.com/css?family=Changa+One:400,400italic' rel='stylesheet' type='text/css'>
           <link href='https://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>
           <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
           <link rel="stylesheet" href="css/normalize.css" >
           <link rel="stylesheet" href="css/main.css" >
           <link rel="stylesheet" href="css/bootstrap_and_customizaton.css.scss" >
        </head>
        <body>
            <header>
             <a href="home.html"  style="text-decoration:none;" id="logo"</a> 
                    <h1>Newton Robert</h1>
                    <h2> Web Designer</h2>
                    </a>
                    <nav>
                        <ul >
                            <li><a href= "/">home</a></li>
                            <li><a href= "portfolio.html" >portfolio</a></li>
                            <li><a href= "about "</a>about</li>
                            <li><a href= "contact.html" class="selected">contact</a></li>
                            
                        </ul>
                    </nav>
                     </header>
                     <div id ="wrapper">
                     <section>
                         <h3>General Information</h3>
                         <p> I am a Freelance Ruby on rails web desighner, i love making web applicatons and innovating ideas and implementing them in africa . i love tech and my dream work place is Akamai </p>
                       <p> please only use the phone contact for urgent inquiries , else you can use ,facebook and twwitter accounts provided eamil is the best way to reach me </p>
                        </section>
                        <section>
                            <h3>Contact Details</h3>
                            
                            <ul class="contact-info">
                              
                            <li class="phone"> <a href="tel:555-555-255">555-555-225</a><img src="phonewrap.png"></li>
                            <li class="mail"><a href="mailto:tomarobaski@gmail.com">me@exampel.com</a><img src="phonewrap.png"></li>
                            <li class="twitter"><a href="https://twitter.com/intent/tweet?/screen_name=xpaterr">@xpaterr</a><img src="phonewrap.png"></li>
                            <li class="facebook"><a href="https://www.facebook.com/spartanewtonrobert">facebok</a><img src="phonewrap.png"></li>
                            <li class="linkedin"><a href="https://ke.linkedin.com/in/newton-robert-a4a7b184">linkedin</a><img src="phonewrap.png"></li>
                         

                            </ul>
                            
                            <p> </p>
                        </section>
                         <footer>
                            <a href="https://ke.linkedin.com/in/newton-robert-a4a7b184"><img src="assets/furrylinkedin.png" alt="follow on Linkedin"class="social-icon"></a>
                               
                           <a href="https://twitter.com/xpaterr"class="social-icon"><img src="assets/furrytwitter.png" alt="follow on twitter"class="social-icon"></a>
                               
                        <a href="https://www.facebook.com/spartanewtonrobert"><img src="assets/furryfb.png" alt="friend on facebook"class="social-icon"></a>
                             
                             <p>&copy; 2016 Newton Robert</p>
                             </footer>
                             </div>
                             </body>
                            </html>







