

a{
    text-decoratione:none;
}

#wrapper{
    max-width:940px;
    margin:0 auto;
    padding:0 5%;
    
}

body{
    
    background-color:;
       font-family: 'Open Sans', sans-serif;
}

#logo{
    text-align :center;
    margin:0;
}

header{
   style="text-decoration:none;
    float:left;
    margin:0 20px 0 0;
    padding:5px 0 0 0;
    width:100%;
    background:#6ab47b;
    border-color:#5999a68;
}
h1,h2{
    color :#fff;
    list-style:none;
    text-decoration:none;
}

nav a nav a visited{
    color :#fff;
}
nav a{
    color:#fff;
    
}



nav a.selected nav a:hover {
    color:#32673f;
}
nav ul {
    list-style:none;
    padding:0 0;
    margin :0 10px;
}
nav li{
    display:inline-block;
}
nav a {
    font-weight:800;
    padding:115px 10px;
}
background{
    background-color:#fff;
    color:#999;
}

}

h1 {
  font-family: ‘Changa One’, sans-serif;
  font-size: 1.75em;
  font-weight: normal;
}

nav{
    text-align:center;
    margin:10px,0;
    padding:20px,0,0;
}
img{
    max-width:100%;
}
#gallery{
    padding:0;
    margin:0;
    list-style:none;
    color:#32673f;
    list-style:none;
    
    
}
#gallery li{
    float:left;
    width:45%;
    margin:2.5%;
    background-color:#f5f5f5;
    color:#32673f;    
    list-style:none;
}
#gallery li a p {
    margin :0;
    padding :5px;
    font-size: 1.05em;
    color:#bdc3c7;
   list-style:none;
}
footer{
    font-size:0.75em;
    text-align:center;
    clear:both;
    padding-top:50px;
    color :#ccc;
}
.social-icon{
    width:20px;
    height:20px;
    margin:0 5px;
}
.../..../header{
    float:left;
    margin:0 30px 0;
}
a{
    text_decoration:none:
    
}
header.logo{
    style="text-decoration:none;
}
#profile-photo {
  
  margin:0 auto 20px;
  margin-top:10px;
  max-width: 200px;
  border-radius: 100%;
}
nav a:hover {
 
 color: #32673f;
}
/***********************
************************/
PAGE:CONTACT
/********************
*********************/


.contact_info{
    list-style:none;
    margin:10px;
    margin-top:10px;
    font-size:0.9em;
    font-weight:0.9em;
}
.contact_info a{
    min-height:20px;
    background-repeat:no-repeat;
    background-size:20px 20px;
    /*padding:0,0,0,30px;*/
    margin:0,0,0,30px;
    
}
.fav{
    color:;
}
.contact_info li.phone a {
        background-image :url();
    }
    .contact_info { background-image: url( }
    
.contact_info li.mail a {
    background-image :url();
   
}
contact_info li.twitter a {
    background-image :url);
   
}
.contact_info li.facebook a {
    background-image :url()
    
}
.contact_info li.linkedin a {
    background-image :url(
    
}

#headline1 {
      background-image: url(images/twitterwap.png);
      background-repeat: no-repeat;
      background-position: left top;
      padding-top:68px;
      margin-bottom:50px;
   }

a {
    display:inline-block
    min-height:20px;
    margin:0 10px ;
    padding:0 0 30px;
    background-repeat:no-repeat;
    background-size:20px 20px;
}

/***********************
************************/
PAGE:COLORS
/********************
*********************/